body{ 
    margin: 0px;
}
.menu{

    background-color: black;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
}
   
.menu img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.menu p{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.campo_pesquisa{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.campo_pesquisa input{
    width: 500px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    padding-left: 30px;
}